@model  List<DAL.Models.CustomersGridViewModel>
@{
    ViewData["Title"] = "Index";
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}

<div>
    <h4 align="center">Customers List</h4>
    <hr />
    @if (Model.Count > 0)
    {
        <table class="table table-striped" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach(var customerItem in Model)
                {
                <tr>
                    <td>@customerItem.FullName</td>
                    <td>@customerItem.Address</td>
                    <td>@customerItem.Email</td>
                    <td>@customerItem.PhoneNumber</td>
                </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p class="no-data-found">No Data found!</p>
    }

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $(".nav li a[id=" + '@pageName.ToLower()' + "]").parent("li").addClass("active");
        //$.ajax('/api/Customers/SearchCustomers', {
        //    type: 'POST', 
        //    data: { }, 
        //    success: function (data, status, xhr) {
        //        var s = JSON.parse(data);
        //       alert('status: ' + s.status + ', data: ' + s.id);
        //    },
        //    error: function (jqXhr, textStatus, errorMessage) {
               
        //    }
        //});
    })
</script>

